<div class='container'>
  <div class='row'>
    <div class="col-12">
    <h2>Follower Users</h2>
      <table class='table'>
        <thead>
         <% if @user.followers.count == 0 %>
          <div>ユーザーはいません</div>
         <% else %>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image, size: '80x80' %></td>
              <td><%= user.name %></td>
              <td>フォロー数：<%= user.following.count %></td>
              <td>フォロワー数：<%= user.followers.count %></td>
              <td><%= link_to 'Show', user_path(user.id) %></td>
            </tr>
          <% end %>
       <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>